<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <title>Greetings friend</title>
</head>
<body>
<div class="container">
    <h2 v-if="gender=='male'">Hello Mister {{name}}</h2>
    <h2 v-if="gender=='female'">Hello Miss {{name}}</h2>
    <h2 v-if="gender!='male' && gender!='female'">So you can't decide. Fine!</h2>
    <form class="form-inline">
        <div class="form-group">
            <label for="gender">Enter your gender:</label>
            <!-- binded input to 'name' -->
            <input v-model="gender" type="text" class="form-control" id="gender" placeholder="gender">
            <br/>
            <label for="name">Enter your name:</label>
            <!-- binded input to 'name' -->
            <input v-model="name" type="text" class="form-control" id="name" placeholder="Name">
        </div>
    </form>
    <!-- displays all data within Vue instance filtered through JSON -->
    <pre>{{ $data }}</pre>
</div>
</body>
<!-- cdn that contains all contents of Vue.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
<script type="text/javascript">
    new Vue({
        el: '.container',
        data: {
            gender:'',
            name: ''
        }
    });

</script>
</html>